@import url('https://fonts.cdnfonts.com/css/corbel');

html {
	background-color: rgb(24, 24, 24);
    overflow-y: scroll;
}

body::-webkit-scrollbar{
	background: #1a1a1d;
}

body::-webkit-scrollbar-thumb{
	background: #272729;
}

.App {
	height: 100%;
	width: 100%;
	text-align: center;
}

.App-header {
	background-color: #1a1a1d;
	position: relative;
	height: 9vmax;
	width: 100%;
	font-size: calc(10px + 2vmin);
	color: white;
	z-index: 1;
}

.Link-routes {
	height: 90%;
	width: 60%;
	align-items: center;
	justify-content: space-evenly;
	display: inline-flex;
}

.Link {
	opacity: 0.6;
	font-size: 200%;
	margin-inline: 6%;
	text-decoration: none;
	color: aliceblue;
	transition: opacity 1s ease-out;
}

.Link.active {
	opacity: 1;
}

.underline::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	transform: scaleX(0);
	transform-origin: center;
	background: aliceblue;
	animation: underlineActive 1s ease-in-out forwards;
}

.underline.inactive::after {
	animation: underlineInactive 1s ease-in-out forwards;
}

@keyframes underlineActive {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

@keyframes underlineInactive {
	from {
		transform: scaleX(1);
	}
	to {
		transform: scaleX(0);
	}
}

#Name {
	display: flex;
	position: relative;
	justify-content: center;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.NameLetter {
	opacity: 0;
	display: inline;
	font-family: 'Corbel', sans-serif;
	font-size: 10vmin;
	color: aliceblue;
	transition: margin-top 500ms ease-out;
}

.loading {
	color: aliceblue;
	position: absolute;
	left: 10%;
}

.loading::after {
	content: '...';
	animation: dots 2s infinite;
}

@keyframes dots {
	0% {
	  	content: '.';
	}
	33% {
	  	content: '..';
	}
	66% {
	  	content: '...';
	}
}

#Curriculo {
	border: none;
	width: 80%;
	height: 125vmin;
	margin-top: 8vh;
}

.sticky {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 9vh;
	position: fixed;
	cursor: pointer;
	bottom: 1vh;
	right: 1vw;
	padding: .5vh;
	border-radius: 5%;
	background-color: aliceblue;
}

.sticky img {
	display: list-item;
	height: 4vh;
}
