@import url('https://fonts.cdnfonts.com/css/corbel');

html {
	background-color: rgb(24, 24, 24);
}

nav {
	display: inline-flex;
}

a {
	text-decoration: none;
	color: aliceblue;
}

.App {
	height: 100%;
	width: 100%;
	text-align: center;
}

.App-header {
	background-color: #1a1a1d;
	position: relative;
	height: 15vh;
	width: 100%;
	font-size: calc(10px + 2vmin);
	color: white;
	z-index: 1;
}

#Name {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 0;
}

.NameLetter {
	opacity: 0;
	display: inline;
	padding-inline-start: 0.5vw;
	font-family: 'Corbel', sans-serif;
	font-size: 10vmin;
	color: aliceblue;
	z-index: 0;
}

.NameExtension {
	opacity: 0;
	margin-top: 15vh;
	padding-inline-start: 0vw;
}

#Curriculo {
	display: none;
	border: none;
	width: -webkit-fill-available;
	height: 100%;
	margin-top: 20%;
}
